<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Quid Juris</a>
        </div>
        <div class="collapse navbar-collapse" id="linksMenu">
            <ul class="nav navbar-nav">
                <li ng-class="{active: activetab=='/poles'}"><a href="#poles">Différents pôles</a></li>
                <li ng-class="{active: activetab=='/fondateurs'}"><a href="#fondateurs">Mot des fondateurs</a></li>
                <li ng-class="{active: activetab=='/mandat'}"><a href="#mandat">Mandat 2016-2017</a></li>
                <li ng-class="{active: activetab=='/partenaires'}"><a href="#partenaires">Nos partenaires</a></li>
                <li ng-class="{active: activetab=='/contacts'}"><a href="#contacts">Nous contacter</a></li>
            </ul>
        </div>
    </div>
</nav>
