<div class="contacts">
    Pour nous contacter
    <ul>
        <li>Amaury Libaud (Président) : <a href="mailto:maury.libaud@edu.emlyon.com">maury.libaud@edu.emlyon.com</a> ou 0650057291</li>
        <li>Maya Benkhdim (Vice Présidente) : <a href="mailto:maya.benkhdim@edu.emlyon.com">maya.benkhdim@edu.emlyon.com</a> ou 0686237362</li>
        <li>Alice Malaisé (Secrétaire générale) : <a href="mailto:lice.malaise@edu.emlyon.com">lice.malaise@edu.emlyon.com</a> ou 0645814017</li>
        <li>Morgan Marquis (Trésorier) : <a href="mailto:morgan.marquis@edu.emlyon.com">morgan.marquis@edu.emlyon.com</a> ou  0674157472</li>
    </ul>
    Ou par facebook : <a href="https://www.facebook.com/quidjuriseml/?fref=ts"><img src="images/socials/faceLogo.png" alt="Facebook" id="faceIcon"></a>
</div>
