<div class="jumbotron fondateur">
    <p>“Le droit mène à tout, la preuve vous êtes Président” adressa Louis Vogel (ancien président de l’Université Paris II Assas) à Nicolas Sarkozy. A Quid Juris nous le pensons aussi.<br>
        Le droit nous paraît être indispensable dans le monde des affaires et nous regrettons que les managers de demain ne soient pas assez sensibilisés à la pratique juridique. Nous avons pour ambition première d’améliorer ce rapport au droit, de rendre cette matière en apparence austère - et en apparence seulement - plus chaleureuse.<br>
        Pour cela nous nous mobilisons pour organiser des séminaires, des rencontres avec des professionnels, et pour aider tout entrepreneur dans ses recherches juridiques indispensables à la création, et la survie, de sa start-up.</p>
    <p>Emlyon business school, 4ème école de commerce de France, bénéficie d’un parcours Droit d’excellence et est très marquée par la culture entrepreneuriale : “we are Early Makers.”<br>
        Dans l’esprit de notre école, Quid Juris permet d’associer ces deux voies, d’en souligner les problématiques communes et de réduire les difficultés de compréhension entre ces deux mondes.</p>
    <p><i>Maya Benkhdim, Alice Malaisé et Amaury Libaud</i></p>
</div>
