<div class="home">
    <div class="row">
        <div class="col-md-6 jumbotron" id="presentation">
            <p class="lis bis">Fondée en septembre 2016 par trois juristes, Quid Juris est une association étudiante de emlyon business school.</p>
            <p class="lis bis">Aujourd'hui, l'association compte une trentaine de membres: des juristes, économistes et entrepreneurs, travaillant ensemble pour répondre au mieux à vos attentes. </p>
            <p class="lis bis">Le but de Quid Juris est de promouvoir le droit et la pratique juridique au sein des étudiants d'emlyon business school à l'aide de plusieurs pôles distincts. </p>
            <ul>
                <li class="lis">Vous êtes une association d'emlyon business school et désirez avoir un renseignement juridique ?</li>
                <li class="lis">Vous êtes un futur entrepreneur et ne savez où commencer pour monter votre société ?</li>
                <li class="lis">Vous lancez votre start - up et avez un doute sur un la légalité d'une offre ou d'une pratique ?</li>
                <li class="lis">Vous êtes un étudiant français et avez un problème juridique de tout ordre ?</li>
            </ul>
            <p class="lis">Quid Juris est là pour vous aider !</p>
        </div>
        <div class="col-md-6 text-center">
            <img src="images/logo2.png" alt="logo Quid Juris" id="mainLogo">
        </div>
    </div>
    <div class="text-center" id="mandatpic">
        <h2>Le mandat</h2>
        <img src="images/mandat.png" alt="Mandat 2016-2017">
    </div>
</div>
