<div class="poles">
    <h1 class="text-center">Les 6 pôles Quid Juris</h1>
    <div class="row">
        <div class="col-sm-8">
            <div class="jumbotron polesCard" ng-repeat="tech in poles">
                <h3>{{tech.title}}</h3>
                <p>{{tech.function}}</p>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <img src="../images/logo2.png" alt="Quid Juris" id="logo2">
        </div>
    </div>
</div>
<!-- Petit ng-repeat des familles -->
